---
---

@import "{{ site.theme }}";
.red-box { 
  margin: 5px 5px 10px 5px;
  padding: 5px;
  border: 3px dotted red;
  color: red;
}
.box-heading {
  font-weight: bold;
}
.logo { 
  margin: 5px;
  padding: 5px;
  border-style: none;
}
